*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(197, 133, 133);
}
.container{
    background-color: red;
    border: 2px solid black;
    display: flex;
    height: 70px;
    margin: 15px;
    border-radius: 10px;
    justify-content: space-between;
    background-color: white;
}

.nav1{
    border: 2px solid black;
    margin: 5px;
    width: 1200px;
    background-color: rgb(152, 185, 159);
}

.list{
    display: flex;
    list-style: none;
    margin-top: 6px;
    margin: 5px;
}

.items{
    padding: 9px 10px;
    border: 1px solid black ;
    margin: 3px;
}



.nav2{
    border: 2px solid black;
    margin: 5px;
    width: 300px;
    background-color:rgb(152, 185, 159);
}
.list2{
    display: flex;
    list-style: none;
    margin-top: 6px;
    margin: 5px;
    margin-left: 10px;
}

.items2{
    padding: 9px 10px;
    border: 1px solid black ;
    margin: 3px;
    margin-left: 50px;
}

.items2:hover{
    background-color:aliceblue;
}

.items:hover{
    background-color: aliceblue;
}

.card-container{
    border: 2px solid black;
    margin: 40px;
    background-color: #e9defb;
}

img{
    width: 300px;
    border: 2px solid black;
    border-radius: 50%;
}

.card{
   display: inline-block; 
   padding: 20px 50px;
   
}

.heading-container{
    display: flex;
    justify-content: space-around;
    height: 200px;

}

.heading{
    border: 2px solid black;
    max-width: 500px;
}

.heading > h1 {
    color: azure;
}
.heading > h1 , p {
    margin: 10px;
}

.paragraph{
    border: 2px solid black;
    margin: 36px 159px;
    padding:40px 0px;
    background-color: rgb(104, 150, 150);
}